@charset "UTF-8";

header {
    padding: 18px;
    justify-content: center;
}

h1 {
    font: normal 700 3.2em PoetsenOne;
    letter-spacing: 3px;
}

aside {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 90%;
    height: 40px;
}

div#exProgressBar {
    width: 100%;
    height: 35px;
    border-radius: 25px;
}
  
div#inProgressBar {
    width: 0%;
    height: 35px;
    border-radius: 25px;
}

main {
    flex-direction: column;
    justify-content: flex-start;
    margin: 25px;
    padding: 15px 15px 5px 15px;
    border-radius: 25px;
}

section.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#ask {
    padding-bottom: 10px;
}

h2 {
    padding-bottom: 10px;
    font: normal bold 2em RobotoSlab;
}

p.question {
    font: normal bold 1.2em Rubik;
    text-wrap: wrap;
}

button.options {
    width: 95%;
    height: 55px;
    margin: 8px;
    padding: 10px;
    font: bold 0.9em Rubik;
}

button#resetButton {
    width: 95%;
    height: 55px;
    margin: 8px;
    padding: 10px;
    font: bold 1.4em PoetsenOne;
}

button#feedback {
    width: 95%;
    height: 55px;
    margin: 8px;
    padding: 10px;
    font: bold 1.4em RobotoSlab;
}

p.rightAns {
    margin: 5px;
    padding: 8px;
    text-align: center;
    border-radius: 7px;
}

p.wrongAns {
    margin: 5px;
    padding: 8px;
    text-align: center;
    border-radius: 7px;
}