@charset "UTF-8";

header {
    padding: 15px;
    justify-content: center;
}

h1 {
    font: normal 700 2.8em PoetsenOne;
    letter-spacing: 3px;
}

main {
    flex-direction: column;
    justify-content: flex-start;
    margin: 45px;
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
}

section.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#ask {
    padding-bottom: 20px;
}

h2 {
    padding-bottom: 18px;
    font: normal bold 1.8em RobotoSlab;
}

p#theQuestion {
    font: normal bold 1.1em Rubik;
    text-wrap: wrap;
}

button.options {
    width: 70%;
    height: 55px;
    margin: 10px;
    padding: 9px;

    font: bold 0.8em Rubik;
}

button#resetButton {
    width: 70%;
    height: 55px;
    margin: 10px;
    padding: 9px;
    font: bold 1.2em PoetsenOne;
}