@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font: normal 500 1em sans-serif;
    text-decoration: none;
}

body {
    padding: 100px;
}

main {
    background-color: #FFBA00;
    width: 300px;
    border-radius: 25px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

header {
    padding: 10px;
    border-bottom: solid 3px black;
}

h1 {
    font: normal 700 1.4em Georgia, 'Times New Roman', Times, serif;
}

#informacoes {
    padding-top: 20px;
    background-color: #FFBA00;
}

label {
    font: normal 600 1.1em Arial, sans-serif;
}

input.informacoes {
    width: 185px;
    height: 45px;
    border: none;
    border-radius: 7px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.botao {
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
    background-color: black;
    color: #FFBA00;
    font: normal 700 1.2em Georgia, 'Times New Roman', Times, serif;
    border-radius: 3px;
    border: none;
}

footer {
    margin: auto;
    width: 250px;
    height: 150px;
    border-radius: 3px;
    background-color: black;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
}